/* @import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss"; */

.Form{
    margin: 0 auto;
}

.Form label{
    color: white;
}

.alignItemsDown{
    display: flex;
    align-items: flex-end;
}